[Desktop Entry]
Version=1.0
Name=VertiRead
Exec=
Icon=
Comment=Comic/Manga reader
GenericName=Manga Reader
Keywords=Manga;Reader
Categories=Utility
Type=Application
Terminal=false
X-MultipleArgs=false
StartupNotify=true
