[Desktop Entry]
Version=1.0
Name=VertiRead
Exec=bin/vertiread
Icon=vertiread
Comment=Comic/Manga reader
GenericName=Manga Reader
Keywords=Manga;Reader
Categories=Graphics;
Type=Application
Terminal=false
StartupNotify=false
